<% provide(:title, 'Contact')%>
<div class="center hero-unit">
<h1>Contact
		<div id="button">
	<%= link_to image_tag("lpflogo2.png", alt: "Home"), root_path %>
</div>
	</h1>
<p>Contact me. Text
	Maybe you just want to go back 
</p>
</div>
