<div class="center hero-unit">
<h1>lpf-incorporated</h1>
<h2>This is the home page for lpf-incorporated
	<%= link_to "Projects!", projects_path, class: "btn btn-large btn-primary" %>
</h2>
</div>
<section id="news" class="box">
	<div id="photo">
    	<%= image_tag("torre.png") %>
	</div>
	<div id= "projects">
		<header><h1 class="script">Latest News</h1></header>
		<ul>
			<li><span><b></b>Project 1</b></span> Estudiando Well-grounded Rubyist.<em>David A. Black</em></li>
			<li><span>Project 2</span> Estudiando Learn Java for Android Development.<em>Jeff Friesen</em></li>
			<li><span>Project 3</span> Esto</li>
	</div>

</section>




	
