<% provide(:title, 'Home') %>
<h1>lpf-incorporated</h1>
<p>This is the home page for lpf-incorporated
	<a href="/static_pages/help">help</a>
	<a href="/static_pages/about">about</a>
	<a href="/static_pages/contact">contact</a> 
	<a href="/static_pages/projects">projects</a> 
	</p>
	
