@import "bootstrap";
#button{
  width: 5%;
  max-height: 15px;
}
#info{
 // position: absolute;
 // width: 940px;

  //max-height: 50px;
 



//  margin-left: -160px;
//  position: absolute;
//  background: lightgrey;
//  width: 100%;
  background-color: #eee;


  //  color: #333333;
  //  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    //font-size: 13px;
  //  line-height: 18px;
//bottom: 0;
//  right: 0;
//  left: 0;

}
.copyright {
 // background: url(lpflogo2.png) left no-repeat;
 margin-bottom: 0;
  opacity: .50;
  padding: 0 0 0 410px;
  
 // float: center;
 // height: 67px;
  font: normal 10px "DroidSansRegular", Verdana, sans-serif;
  line-height: 16px;
  margin-top: -30px;
  color: #000000;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
}
.copyright:hover{
  opacity: .5;
}

#footer-nav {
  margin-top: 450px;
}
#footer-nav ul li {
  float: left;
  
  margin-left: 100px;
  margin-right: 28px;
}
#footer-nav ul {
//  float: left;
  list-style: none;
  margin-top: 50px;

   max-height: 40px;
 //  background-color: lightgrey;
   width: 940px;

  min-height: 40px;

//  border: 30px solid #fff;
 // text-transform: uppercase;
}


#projects{
  float: left;
  width: 425px;
  margin-top: 15px;
  background-color: #eee;
}
#projects ul{
    border: 30px solid #eee;
    
}
#projects ul li{
  width: 316px;
 // background: lightgrey;
  font: normal 15px "marketingScriptRegular", Georgia, serif;
 // text-transform: uppercase;
 // color: #787871;
  //text-shadow: 1px 1px 1px #fff;
  position: relative;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-style: italic;

}
#projects span {
  position: relative;
//  top: -20px;
//  left: 10px;
  font: normal 20px "LeagueGothicRegular", Tahoma, Arial, sans-serif;
 // font-style: bold;
}
#projects .script{
 // background: green;
  float: center;
  text-shadow: 1px 1px 1px #000;
 // color: #787871;
  margin-left: 120px;  //centrarlo bien por el amor de dios! gitanilla! xD
  margin-top: 20px;
}
#photo {
  float: right;
 // border: 15px solid #fafaf6;
 border: 15px solid #eee;
  width: 50%;
  -webkit-box-shadow: 0px 1px 1px #ccc;
  -moz-box-shadow: 0px 1px 1px #ccc;
  box-shadow: 0px 1px 1px #ccc;
 // background: url(torre.png) right no-repeat;
}
#photo:hover {
  border: 15px solid #fafaf6;
  box-shadow: 0px 1px 300px #000;
  -webkit-transform: scale(1.1) rotate(-2deg);
  -moz-transform: scale(1.1) rotate(-2deg);
  -o-transform: scale(1.1) rotate(-2deg);
  transform: scale(1.1) rotate(-2deg);
}

body{
  background-color: lightgrey;
}



